@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;

  overflow-x: hidden;
  color: #fff;
}

::selection {
  background-color: #ffb8ff;
  color: #000;
}

.fancy-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  height: 80px;
}

.dot {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  animation: bounce 1.2s infinite ease-in-out;
}

.dot-1 {
  top: 0;
  left: 50%;
  margin-left: -8px;
  animation-delay: -0.4s;
}

.dot-2 {
  top: 50%;
  left: 0;
  margin-top: -8px;
  animation-delay: -0.3s;
}

.dot-3 {
  top: 50%;
  right: 0;
  margin-top: -8px;
  animation-delay: -0.2s;
}

.dot-4 {
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  animation-delay: -0.1s;
}
#cursor {
  height: 20px;
  width: 20px;
  background-color: #a376be62;
  border-radius: 50%;
  position: fixed;
  pointer-events: "none";
  z-index: 99;
  transition: all linear 0.1s;
}
#cursor-blur {
  height: 300px;
  width: 300px;
  background-color: rgba(122, 95, 165, 0.3);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;

  filter: blur(80px);
  z-index: 9;
  transition: all linear 0.3s;
}

/* Bouncing animation for the dots */
@keyframes bounce {
  0%, 100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.4);
    opacity: 1;
  }
}
